{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}{# jakby coś już tu było #}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}

{% block title %}
    {{ 'title.bookmarks_list'|trans }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'title.bookmarks_list'|trans }}
    </h1>
    {% if bookmarks|length %}
        <table>
            <thead>
            <tr>
                <th>{{ 'bookmark_table.title'|trans }}</th>
                <th>{{ 'bookmark_table.url'|trans }}</th>
                <th>{{ 'bookmark_table.tag'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for bookmark in bookmarks %}
            <tr>
                <td>
                    {{ bookmark.title }}
                </td>
                <td>
                    {{ bookmark.url }}
                </td>
                <td>
                    <ul class="tag__list">
                        {% for tag in bookmark.tags %}
                            <li class="tag__item">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            {{ 'bookmarks_not_found'|trans }}
        </div>
    {% endif %}
{% endblock %}